@import url("https://fonts.googleapis.com/css2?family=DM+Mono:wght@500&family=DM+Sans:wght@400;500&family=Outfit:wght@500&display=swap");
*, *::before, *::after {
  margin: 0;
  padding: 0;
  border: 0;
  box-sizing: border-box;
}

li {
  list-style: none;
}

a, a:visited {
  text-decoration: none;
}

a:hover {
  text-decoration: none;
}

h1, h2, h3, h4, h5, h6 {
  font-weight: inherit;
  font-size: inherit;
}

img {
  vertical-align: top;
}

html, body {
  height: 100%;
  min-width: 320px;
}

body {
  font-family: "DM Sans", sans-serif;
  font-size: 1rem;
  font-weight: 500;
  line-height: 1;
  color: #494e65;
  background-color: #fff;
}

button {
  background-color: inherit;
  cursor: pointer;
}

input, button, textarea {
  font-family: inherit;
  font-size: inherit;
  font-weight: inherit;
  color: inherit;
}

.wrapper {
  min-height: 100%;
  overflow: hidden;
}