@import url("https://fonts.googleapis.com/css2?family=DM+Mono:wght@500&family=DM+Sans:wght@400;500&family=Outfit:wght@500&display=swap");
*, *::before, *::after {
  margin: 0;
  padding: 0;
  border: 0;
  box-sizing: border-box;
}

li {
  list-style: none;
}

a, a:visited {
  text-decoration: none;
}

a:hover {
  text-decoration: none;
}

h1, h2, h3, h4, h5, h6 {
  font-weight: inherit;
  font-size: inherit;
}

img {
  vertical-align: top;
}

html, body {
  height: 100%;
  min-width: 320px;
}

body {
  font-family: "DM Sans", sans-serif;
  font-size: 1rem;
  font-weight: 500;
  line-height: 1;
  color: #494e65;
  background-color: #fff;
}

button {
  background-color: inherit;
  cursor: pointer;
}

input, button, textarea {
  font-family: inherit;
  font-size: inherit;
  font-weight: inherit;
  color: inherit;
}

.wrapper {
  min-height: 100%;
  overflow: hidden;
}

.wrapper {
  position: relative;
}
.wrapper__container {
  max-width: 71.25rem;
  padding: 0px 15px 0px 15px;
  margin: 0 auto 0 auto;
}
.wrapper__body {
  display: flex;
  justify-content: center;
  padding: 3.125rem 0px 3.125rem 0px;
}
.wrapper__left {
  flex: 0 0 29.19%;
  -webkit-backdrop-filter: blur(40px);
          backdrop-filter: blur(40px);
  background-color: rgba(255, 255, 255, 0.7);
  border: 1px solid rgba(255, 255, 255, 0.7);
  border-right: none;
  border-radius: 16px 0 0 16px;
  padding: 2.8125rem 2.8125rem 2.8125rem 2.8125rem;
}
.wrapper__right {
  flex: 0 0 70.81%;
  background-color: #fff;
  border-left: 1px solid #e3e7fe;
  border-right: 1px solid #e3e7fe;
  border-radius: 0 16px 16px 0;
  padding: 3.75rem 2.8125rem 0 2.8125rem;
}
.wrapper__background {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  -o-object-position: center;
     object-position: center;
  z-index: -1;
}

.header__avatar-wrapper {
  position: relative;
  width: 5.625rem;
  height: 5.625rem;
  border-radius: 50%;
  overflow: hidden;
}
.header__avatar-wrapper img {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  -o-object-fit: cover;
     object-fit: cover;
  -o-object-position: center;
     object-position: center;
}
.header__avatar-wrapper:not(:last-child) {
  margin-bottom: 0.875rem;
}
.header__hero:not(:last-child) {
  margin-bottom: 1.875rem;
}
.header__about:not(:last-child) {
  margin-bottom: 1.875rem;
}
.header__line {
  width: 100%;
  height: 1px;
  background-color: #e3e7fe;
}
.header__line:not(:last-child) {
  margin-bottom: 1.875rem;
}
.header__contacts:not(:last-child) {
  margin-bottom: 1.875rem;
}
.header__languages:not(:last-child) {
  margin-bottom: 1.875rem;
}

.hero__name {
  font-family: "Outfit", sans-serif;
  font-size: 1.875rem;
  line-height: 123.3333333333%;
  letter-spacing: -0.0375rem;
  color: #494e65;
}
.hero__name:not(:last-child) {
  margin-bottom: 0.5rem;
}
.hero__job {
  font-family: "Outfit", sans-serif;
  font-size: 1.375rem;
  line-height: 136.3636363636%;
  letter-spacing: -0.0275rem;
  background: -webkit-linear-gradient(0deg, #6a6e85, #516cf7);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.about__title:not(:last-child) {
  margin-bottom: 1.25rem;
}
.about__text {
  font-family: "Outfit", sans-serif;
  line-height: 137.5%;
  letter-spacing: -0.02rem;
  color: #494e65;
}

.subtitle {
  font-size: 0.875rem;
  font-weight: 400;
  line-height: 107.1428571429%;
  letter-spacing: 0.00875rem;
  color: #6a6e85;
}

.contacts__title:not(:last-child) {
  margin-bottom: 1.25rem;
}
.contacts__item:not(:last-child) {
  margin-bottom: 1.25rem;
}

.item-contacts {
  display: flex;
  align-items: center;
  -moz-column-gap: 0.9375rem;
       column-gap: 0.9375rem;
}
.item-contacts__icon-wrapper {
  position: relative;
  width: 1.875rem;
  height: 1.875rem;
}
.item-contacts__icon-wrapper img {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  -o-object-fit: contain;
     object-fit: contain;
  -o-object-position: center;
     object-position: center;
}
.item-contacts__title {
  font-size: 0.875rem;
  font-weight: 400;
  line-height: 107.1428571429%;
  letter-spacing: 0.00875rem;
  color: #6a6e85;
}
.item-contacts__title:not(:last-child) {
  margin-bottom: 0.25rem;
}
.item-contacts__link {
  font-size: 0.875rem;
  line-height: 121.4285714286%;
  color: #494e65;
}
.item-contacts__link:not(:last-child) {
  margin-bottom: 0.25rem;
}

.languages__title:not(:last-child) {
  margin-bottom: 1.25rem;
}
.languages__item:not(:last-child) {
  margin-bottom: 1.25rem;
}

.item-languages {
  display: flex;
  align-items: center;
  -moz-column-gap: 0.9375rem;
       column-gap: 0.9375rem;
}
.item-languages__flag-wrapper {
  position: relative;
  width: 1.875rem;
  height: 1.375rem;
}
.item-languages__flag-wrapper img {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  -o-object-fit: contain;
     object-fit: contain;
  -o-object-position: center;
     object-position: center;
}
.item-languages__title {
  font-size: 0.875rem;
  line-height: 121.4285714286%;
  color: #494e65;
}
.item-languages__title:not(:last-child) {
  margin-bottom: 0.25rem;
}
.item-languages__level {
  font-size: 0.875rem;
  font-weight: 400;
  line-height: 107.1428571429%;
  letter-spacing: 0.00875rem;
  color: #6a6e85;
}
.item-languages__level:not(:last-child) {
  margin-bottom: 0.25rem;
}