$fontFamily: "DM Sans", sans-serif;
$fontSize: 16;
$fontWeight: 500;

// colors
$bg-1: #fff;
$bg-2: #f9f9fa;
$text-1: #494e65;
$text-2: #6a6e85;
$accent: #516cf7;
$hover: #e3e7fe;

// ------------------------------

$color: $text-1;
$backgroundColor: $bg-1;

$minWidth: 320px;
