// calc(10px + (40 - 10) * ((100vw - 320px) / (1440 - 320)))
// maxWidth = contentWidth + paddings
// maxWidth, minWidth == viewport width
@mixin adaptive-property($property, $maxSize, $maxWidth, $minSize, $minWidth) {
	$delta: $maxSize - $minSize;

	$maxSizeRem: math.div($maxSize, 16);
	$maxWidthRem: math.div($maxWidth, 16);
	$minSizeRem: math.div($minSize, 16);
	$minWidthRem: math.div($minWidth, 16);
	$deltaRem: math.div($delta, 16);

	#{$property}: calc(
		#{$minSizeRem + rem} + #{$deltaRem} * ((100vw - #{$minWidthRem + rem}) / (#{$maxWidthRem} - #{$minWidthRem}))
	);
}
