@function percent($px-1, $px-2) {
	$result: math.div($px-1, $px-2) * 100%;
	@return $result;
}
@function rem($px) {
	$result: math.div($px, 16) + rem;
	@return $result;
}
@function em($px, $current: 16) {
	$result: math.div($px, $current) + em;
	@return $result;
}
